<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thermal Comfort</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

.jumbotron{
  background-color: #000000;
  color: #ffffff;
}

</style>
<body>

<div class="jumbotron">
  <h2>Please provide the following information</h2>
</div>

<div class="container">
 <form method="post">
  <div class="field">
        {{ userform.first_name.errors }}
        <label for="id_first_name">First name: </label>
        {{ userform.first_name }}
  </div>
  <button type="submit">Save changes</button>
</form>
</div>

</body>
</html>
