<!DOCTYPE html>
<html lang="en">
<head>
  <title>Thermal Comfort</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
	
	.lp{
		padding-top:250px;
		padding-bottom: 250px;
		text-shadow:10px;
		color: #003380;
	}
	.rp{
		padding-top: 250px;
		padding-bottom: 250px;
		background-color: #000000;
		color: #ffffff;
	}

</style>
<body>

<div class="row">
	 <div class="col-sm-8 text-center lp">
	 	<h1>Thermal Comfort Prediction and Control</h1>
	 </div>
	 <div class="col-sm-4 rp">
	 	<form action="/login" method="POST">
    				<div class="form-group">
      					<label for="user">Username:</label>
      					<input type="user" class="form-control" id="user" placeholder="Enter username" name="user">
    				</div><br>
    				<div class="form-group">
      					<label for="password">Password:</label>
      					<input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    				</div><br>
    				<button type="submit" class="btn btn-primary">Log In</button>
  		</form>
	 </div>

</div>


</body>
</html>
